body {
  background-color: #DFF6FF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 5px;
  width: 4%;
}

h1 {
  color: #243A73;
}

h3 {
  color: #243A73;
}
